body {
    margin: 0;
    padding: 0;
    background-color: #17a2b8;
    height: 100vh;
}
#login-box, .form {
    margin-top: 20%;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
}
form {
    padding: 20px;
}

#register-link {
    margin-top: -60px;
}

#reset-pass-form {
    display: none;
}