html::-webkit-scrollbar-track, .scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar, .scrollbar::-webkit-scrollbar {
    width: 8px;
}

html::-webkit-scrollbar-thumb, .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #6c757d;
}