<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<head>

    <title>Authenticate</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/auth_style.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="/images/favicon.png" type="image/icon type">
</head>
<body>
<div id="login">
    <h3 class="text-center text-white pt-5">Time off Manager</h3>
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <div th:if='${upperNotification != ""}' th:text="${upperNotification}" class="alert alert-warning mb-3 mt-3 d-none" role="alert"></div>
                    <form id="login-form" class="form" action="/auth" method="post">
                        <div class="w-100 text-center">
                            <img src="images/favicon.png" class="w-25 cent pb-2">
                        </div>
                        <h3 class="text-center text-info pb-3">Log In</h3>
                        <div class="form-group">
                            <label for="username" class="text-info">Username:</label><br>
                            <input type="text" name="username" id="username" class="form-control" th:value="${user}">
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-info">Password:</label><br>
                            <input type="password" name="password" id="password" class="form-control">
                        </div>
                        <div id="reset-link" class="text-right">
                            <a href="#" class="text-info">Forgot your password?</a>
                        </div>
                        <div th:if='${error != ""}' th:text="${error}" class="alert alert-danger mt-2 d-none" role="alert">
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                        </div>
                    </form>
                    <form id="reset-pass-form" class="form" action="/resetPassword" method="post">
                        <div class="w-100 text-center">
                            <img src="images/favicon.png" class="w-25 cent pb-2">
                        </div>
                        <h3 class="text-center text-info">Reset password</h3>
                        <div class="form-group">
                            <label for="username1" class="text-info">Username:</label><br>
                            <input type="text" name="username" id="username1" class="form-control">
                        </div>
                        <div id="back-login" class="text-right">
                            <a href="#" class="text-info">Back to login!</a>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/auth.js"></script>
<script src="/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>
</body>
</html>
