
<!DOCTYPE HTML>
<html class="h-100" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Delete Employee</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link th:href="@{'/webjars/bootstrap/'+${@environment.getProperty('bootstrap.version')}+'/css/bootstrap.min.css'}" rel="stylesheet" type="text/css"/>
    <link th:href="@{'/webjars/font-awesome/'+${@environment.getProperty('fontawesome.version')}+'/css/all.css'}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/font.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/scrollbar.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/form-select.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/background.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/button.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/images/favicon.png}" rel="icon" type="image/icon type"/>
</head>
<body class="bg-dark">
<div class="position-fixed">
    <a th:href="@{/}" class="btn btn-info btn-default btn-circle btn-lg my-5 ml-5 mr-3 text-light"><i
            class="fa fa-arrow-left"></i></a>
    <a th:href="@{/log-out}" class="btn btn-danger btn-default btn-circle btn-lg my-5 ml-3 mr-5 text-light"><i
            class="fa fa-power-off"></i></a>
</div>
<div class="p-5">
    <div class="container bg-dark w-50 p-0 rounded border border-secondary">
        <div class="row no-gutters">
            <div class="col">
                <form id="delete-employee__form" class="form" th:action="@{/delete-employee}" method="post">
                    <div class="px-3 pt-3 text-center">
                        <div class="w-50 m-auto">
                            <img class="w-25" th:src="@{images/favicon.png}" src="" alt="TOM">
                        </div>
                    </div>
                    <div class="m-1 px-3 pb-3">
                        <div class="w-75 m-auto">
                        <hr class="border border-light">
                        <h3 class="text-center text-light py-3"><b>Delete Employee</b></h3>
                            <div class="form-group w-75 mx-auto my-2">
                                <label for="delete-employee__department" class="text-light">Department</label><br>
                                <select name="departmentId" id="delete-employee__department" class="custom-select"
                                        required>
                                    <option value="" th:text="'--- Select a department ---'"></option>
                                    <option th:each="i : ${departments}" th:value="${i.getId()}"
                                            th:text="${i.getName()}"></option>
                                </select>
                            </div>
                            <div class="form-group w-75 mx-auto my-2">
                                <label for="delete-employee__employee-id" class="text-light">Employee:</label><br>
                                <select name="employeeId" id="delete-employee__employee-id" class="custom-select"
                                        required>
                                    <option value=""> --- Select a department first ---</option>
                                </select>
                            </div>
                            <div class="form-group w-75 mx-auto mt-3">
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script th:src="@{'/webjars/jquery/'+${@environment.getProperty('jquery.version')}+'/jquery.min.js'}"></script>
<script th:src="@{'/webjars/bootstrap/'+${@environment.getProperty('bootstrap.version')}+'/js/bootstrap.min.js'}"></script>
<script th:src="@{/js/delete-employee.js}"></script>
</body>
</html>