
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Delete Employee</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="css/form_style.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="/images/favicon.png" type="image/icon type">
</head>
<body>
<div id="login">
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12 mt-3 mb-3">
                    <form id="deleteEmployee-form" class="form" action="/deleteEmployee" method="post">
                        <div class="w-100 text-center">
                            <img src="images/favicon.png" class="w-25 cent pb-2">
                        </div>
                        <h3 class="text-center text-info pb-3">DeleteEmployee</h3>



                        <div class="form-group">
                            <label for="department" class="text-info">Delete Employee</label><br>
                            <select name="departmentId" id="department" class="custom-select" required>
                                <option value="" th:text="'--- Select a department ---'"></option>
                                <option th:each="i : ${departments}" th:value="${i.getId()}"
                                        th:text="${i.getName()}"></option>
                            </select>
                        </div>


                        <div class="form-group">
                            <label for="emplID" class="text-info">Choose department:</label><br>
                            <select name="emplID" id="emplID" class="custom-select" required>
                                <option value=""> --- Select a department first  ---</option>
                            </select>
                        </div>


                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/deleteEmployee.js"></script>
<script src="/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>
</body>
</html>