<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Holiday Request</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="css/form_style.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="/images/favicon.png" type="image/icon type">
</head>
<body>
<div id="login">
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12 mt-3 mb-3">
                    <form id="holidayReq-form" class="form" action="/holidayReq" method="post">
                        <div class="w-100 text-center">
                            <img src="images/favicon.png" class="w-25 cent pb-2">
                        </div>
                        <h3 class="text-center text-info pb-3">Holiday Request</h3>




                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea class="form-control" id="description" rows="3" name="description" required></textarea>
                        </div>




                        <div class="form-group">
                            <label for="start_date" class="text-info">Start date:</label>
                            <input type="date" class="form-control" name="start_date" id="start_date" required>
                        </div>

                        <div class="form-group">
                            <label for="end_date" class="text-info">End date:</label>
                            <input type="date" class="form-control" name="end_date" id="end_date" required>
                        </div>



                        <div class="form-group">
                            <label for="requestType" class="text-info">Choose request type :</label><br>
                            <select name="requestTypeId" id="requestType" class="custom-select" required>
                                <option value="" th:text="'--- Select a  request type ---'"></option>
                                <option th:each="reqOpt : ${T(ro.go.redhomeserver.tom.dtos.RequestType).values()}"
                                        th:value="${reqOpt}" th:text="${reqOpt.displayValue}">
                                </option>
                            </select>
                        </div>


                        <div class="form-group" th:if="${delegates!=null}">
                            <label for="delegate" class="text-info">Choose delegate:</label><br>
                            <select name="delegateId" id="delegate" class="custom-select" required>
                                <option value="" th:text="'--- Select a delegate ---'"></option>
                                <option th:each="i : ${delegates}" th:value="${i.getId()}"
                                        th:text="${i.getEmployee().getName()}"></option>
                            </select>
                        </div>


                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/signUp.js"></script>
<script src="/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>
</body>
</html>