<!DOCTYPE HTML>
<html class="h-100" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Holiday Requests</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link th:href="@{'/webjars/bootstrap/'+${@environment.getProperty('bootstrap.version')}+'/css/bootstrap.min.css'}" rel="stylesheet" type="text/css"/>
    <link th:href="@{'/webjars/font-awesome/'+${@environment.getProperty('fontawesome.version')}+'/css/all.css'}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/font.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/scrollbar.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/background.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/form-select.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/button.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/images/favicon.png}" rel="icon" type="image/icon type"/>
</head>
<body id="requests" class="bg-dark h-100">
<div class="position-fixed" style="z-index: 1000">
    <a th:href="@{/}" class="btn btn-info btn-default btn-circle btn-lg my-5 ml-5 mr-3 text-light"><i
            class="fa fa-arrow-left"></i></a>
    <a th:href="@{/log-out}" class="btn btn-danger btn-default btn-circle btn-lg my-5 ml-3 mr-5 text-light"><i
            class="fa fa-power-off"></i></a>
</div>
<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col m-5">
            <div class="p-2 m-5 bg-dark border border-secondary">
                <h3 class="text-center text-light pt-5 mb-3"><b>Status</b></h3>
                <div class="form-group w-75 mx-auto my-5">
                    <label for="requests__status" class="text-light">Status</label><br>
                    <select id="requests__status" class="custom-select" required>
                        <option value="">---</option>
                        <option value="Sent">Sent</option>
                        <option value="Accepted">Accepted</option>
                        <option value="Declined">Declined</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col bg-dark p-5 m-0">
            <div class="w-100 h-100 text-light" th:if="${requests.isEmpty()}"><h1 class="text-center">No
                requests!</h1></div>
            <div class="w-100 text-light"><h1 class="text-center" th:if="${!requests.isEmpty()}"
                                              th:text="${selectedStatus}"></h1>
            </div>
            <div id="declined__requests" class="border border-secondary p-2 h-75 overflow-auto scrollbar"
                 th:if="${!requests.isEmpty()}">
                <div class="row m-0 text-info">
                    <h4 class="col-2 m-2 text-center">
                        Details
                    </h4>
                    <h4 class="col m-2 text-center">
                        Start
                    </h4>
                    <h4 class="col m-2 text-center">
                        End
                    </h4>
                    <h4 class="col m-2 text-center">
                        Delegate
                    </h4>
                </div>
                <div th:each="i : ${requests}">
                    <hr class="border border-secondary m-3">
                    <div class="row m-0">
                        <div class="col-2 m-0 text-center">
                            <button type="button" class="btn btn-info btn-circle requests__details"
                                    th:id="${i.getId()}" th:text="${i.getType()}"></button>
                        </div>
                        <div class="col m-0 text-center">
                            <h5 class="text-light"
                                th:text="${i.getStart().toInstant().atZone(T(java.time.ZoneId).systemDefault()).toLocalDate().toString()}"></h5>
                        </div>
                        <div class="col m-0 text-center">
                            <h5 class="text-light"
                                th:text="${i.getEnd().toInstant().atZone(T(java.time.ZoneId).systemDefault()).toLocalDate().toString()}"></h5>
                        </div>
                        <div class="col m-0 text-center">
                            <h5 class="text-light" th:if="${i.getDelegate()!=null}"
                                th:text="${i.getDelegate().getEmployee().getName()}"></h5>
                            <h5 class="text-light" th:if="${i.getDelegate()==null}">Not necessary</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:each="i : ${requests}" th:id="${i.getId()}+'modal'" class="modal fade bg-dark" tabindex="-1"
     role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-secondary">
            <div class="modal-header">
                <h5 class="modal-title text-light">
                    <b th:text="${i.getType()} + ':' "></b>
                    <i th:text="${i.getRequester().getEmployee().getName()}"></i>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-light">
                <div class="mt-3 mb-5">
                    <b>Description </b>
                    <p class="px-3" th:text="${i.getDescription()}"></p>
                </div>
                <div>
                    <p th:text="'Period: ' + ${i.getStart().toInstant().atZone(T(java.time.ZoneId).systemDefault()).toLocalDate().toString()} + ' - ' + ${i.getEnd().toInstant().atZone(T(java.time.ZoneId).systemDefault()).toLocalDate().toString()}"></p>
                    <p th:if="${i.getDelegate()!=null}"
                       th:text="'Delegate: ' + ${i.getDelegate().getEmployee().getName()}"></p>
                    <p th:if="${i.getDelegate()==null}">Not necessary</p>
                    <p th:text="'Remaining days: '+${i.getRequester().getRemainingDays()}"></p>
                    <br>
                    <p th:if="${!i.getRequestFeedback().isEmpty()}">Feedback: </p>
                    <div th:each="j: ${i.getRequestFeedback()}" class="p-2">
                        <span th:text="${j.getReporter().getEmployee().getName()} + '('+${j.getReporter().getEmployee().getDepartment().getName()} +'): '"></span>
                        <p th:text="'&nbsp;'+${j.getDescription()}"></p>
                    </div>
                    <br>
                </div>
                <div th:if="${i.getType().getDisplayValue() == 'Medical'}"> Medical:
                    <a th:href="@{/download-file(holidayRequestId=${i.getId()})}" th:id="'file'+${i.getId()}"
                       class="file-link">Download file!</a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script th:src="@{'/webjars/jquery/'+${@environment.getProperty('jquery.version')}+'/jquery.min.js'}"></script>
<script th:src="@{'/webjars/bootstrap/'+${@environment.getProperty('bootstrap.version')}+'/js/bootstrap.min.js'}"></script>
<script th:src="@{/js/my-requests-status.js}"></script>
</body>
</html>
