<!DOCTYPE HTML>
<html class="h-100" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Pending Issues</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/font.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/scrollbar.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/form-select.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/images/favicon.png}" rel="icon" type="image/icon type"/>
</head>
<body id="issue-requests" class="bg-dark h-100 invisible">
<div class="container h-100">
    <div class="row h-100">
        <div class="col bg-secondary p-5 m-0">
            <div class="w-100 h-100 text-light" th:if="${pendingIssues.isEmpty()}"><h1 class="text-center">No pending
                issues!</h1></div>
            <div id="issue-requests__pending" class="border border-dark p-5" th:if="${!pendingIssues.isEmpty()}">
                <div class="row m-0">
                    <h4 class="col-2 m-2 text-center">
                        See More
                    </h4>
                    <h4 class="col m-2 text-center">
                        Name
                    </h4>
                    <h4 class="col m-2 text-center">
                        Department
                    </h4>
                </div>
                <div th:each="i : ${pendingIssues}">
                    <hr class="border border-dark m-3">
                    <div class="row m-0">
                        <div class="col-2 m-0 text-center">
                            <button type="button" class="btn btn-info btn-circle issue__pending__entry"
                                    th:id="${i.getId()}" th:text="${i.getId()}"></button>
                        </div>
                        <div class="col m-0 text-center">
                            <h5 class="text-light">
                                <b class="text-black-50"></b>
                                <i th:text="${i.getName()}"></i>
                            </h5>
                        </div>
                        <div class="col m-0 text-center">
                            <h5 class="text-light" th:text="${i.getDepartmentName()}"></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:each="i : ${pendingIssues}" th:id="${i.getId()}+'modal'" class="modal fade bg-dark" tabindex="-1"
     role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-secondary">
            <div class="modal-header">
                <h5 class="modal-title text-light">
                    <b th:text="${i.getDepartmentName()} + ':' "></b>
                    <i th:text="${i.getName()}"></i>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-light">
                <div class="mt-3 mb-5">
                    <b>Description </b>
                    <p class="px-3" th:text="${i.getDescription()}"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success update" th:id="${i.getId()}+'issueId'">Resolved</button>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
<script th:src="@{/js/pending-issues.js}"></script>
</body>
</html>
