<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

    <title>Pending Issues</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/pendingIssue_style.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="/images/favicon.png" type="image/icon type">

</head>
<body>
<div id="login">
    <h3 class="text-center text-white pt-5">Pending Issue</h3>

    <div class="container-fluid h-100 p-0 m-0 ">
        <div class="row h-100 ">
            <div class="col h-75 ">
                <div class="requests">

                    <div  class="req" th:each="i : ${ListPendingIssue}" th:id="${i.getId()}">
                        <span th:text="'ID'+${i.getId()}+'.'"></span>
                        <b th:text="${i.getDepName()}+': '"></b>
                        <i th:text="${i.getName()}"></i>

                    </div>

                </div>

            </div>
            <div class="col">
                <div class="description">

                    <div  class="desc" th:each="i : ${ListPendingIssue}" th:id="${i.getId()}+'d'" >

                        <p th:text="${i.getName()}"></p>
                        <p th:text="${i.getDescription()}"></p>
                        <img class="dlt-req" src="images/check.png" height="50px" width="50px"  th:id="${i.getId()}+'e'">

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {

        $(".desc").hide();
        $(".req").click(function(){

            $(".desc").hide();
            let varId = $(this).attr("id");
            $("#"+varId+"d").show();


        });
        $(".dlt-req").click(function(){

            let varId = $(this).attr("id").slice(0,-1);
            $.post({url: "/deleteIssue", data:{
                id:varId
                },success: function(result){
                    $("#"+varId).remove();
                    $("#"+varId+"d").remove();
                }});
        })



    });
</script>
</body>
</html>
