<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

    <title>Report Issue</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/form_style.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="/images/favicon.png" type="image/icon type">

</head>
<body>
<div id="login">
    <h3 class="text-center text-white pt-5">Time off Manager</h3>
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form id="report-form" class="form" action="/reportIssue" method="post">
                        <div class="w-100 text-center">
                            <img src="images/favicon.png" class="w-25 cent pb-2">
                        </div>
                        <h3 class="text-center text-info pb-3">Report Issue</h3>
                        <div class="form-group">
                            <label for="description" class="text-info">What is your issue?</label><br>
                            <textarea class="form-control" name="description" id="description" rows="4" cols="50"></textarea>
                        </div>

                        <input type="hidden" id="myId" name="myId" th:value="${myID}">
                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {

        $(".alert:not(:empty)").removeClass("d-none");

        setTimeout(function () {
            $(".alert").fadeOut();
        }, 3000);

    });
</script>
</body>
</html>
