<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Password Reset</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        * {
            font-family: "Lucida Console", Monaco, monospace
        }

        .footer-copyright {
            background-color: #47646f;
        }
    </style>
</head>
<body class="bg-dark">
<div class="container bg-secondary w-25 mt-5 p-0 rounded">
    <div class="row pt-5 px-5 pb-3">
        <div class="col">
            <h3 class="text-center text-light"><b>ToM Application</b></h3>
            <hr class="border border-info">
        </div>
    </div>
    <div class="row m-3">
        <div class="col">
            <h5 class="text-light" th:text="'Reset Your Password: ' + ${username}"></h5>
        </div>
    </div>
    <div class="row m-3">
        <div class="col">
            <p style="color: lightgray">Tap the button below to reset your customer account password. If you didn't
                request a new password, you can safely delete this email.
            </p>
        </div>
    </div>
    <div class="row m-5">
        <div class="col text-center">
            <a th:href='${link}' href="#" class="btn btn-info btn-lg" role="button" aria-pressed="true">Reset Your
                Password</a>
        </div>
    </div>
    <div class="footer-copyright text-center py-3 no-gutters mt-3">© 2020 Copyright:
        <a class="text-info" href="http://redhomeserver.go.ro:8181/tomapp"> TOM </a>
    </div>
</div>
</body>
</html>