<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en" style="box-sizing:border-box;font-family:sans-serif;line-height:1.15;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:transparent;" >
<head style="font-family:'Lucida Console', Monaco, monospace;box-sizing:border-box;" >
    <meta charset="utf-8" style="font-family:'Lucida Console', Monaco, monospace;box-sizing:border-box;" >
    <meta http-equiv="x-ua-compatible" content="ie=edge" style="font-family:'Lucida Console', Monaco, monospace;box-sizing:border-box;" >
    <title style="font-family:'Lucida Console', Monaco, monospace;box-sizing:border-box;" >Password Reset</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" style="font-family:'Lucida Console', Monaco, monospace;box-sizing:border-box;" >

</head>
<body style="box-sizing:border-box;margin: 0;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';font-size:1rem;font-weight:400;line-height:1.5;color:#212529;text-align:left;background-color:#343a40 !important;" >
<table style="font-family:'Lucida Console', Monaco, monospace;box-sizing:border-box;border-collapse:collapse;margin-right:auto;margin-left:auto;background-color:#6c757d !important;border-radius:.25rem !important;width:25% !important;margin-top:3rem !important;padding: 0 !important;" >
    <tr style="font-family:'Lucida Console', Monaco, monospace;box-sizing:border-box;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px;padding: 3rem 3rem 1rem !important;" >
        <td style="font-family:'Lucida Console', Monaco, monospace;box-sizing:border-box;position:relative;width:100%;padding-right:15px;padding-left:15px;-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;max-width:100%;" >
            <h3 style="font-family:'Lucida Console', Monaco, monospace;box-sizing:border-box;margin-top:0;margin-bottom:.5rem;font-weight:500;line-height:1.2;font-size:1.75rem;text-align:center !important;color:#f8f9fa !important;" ><b style="font-family:'Lucida Console', Monaco, monospace;box-sizing:border-box;font-weight:bolder;" >ToM Application</b></h3>
            <hr style="font-family:'Lucida Console', Monaco, monospace;box-sizing:content-box;height:0;overflow:visible;margin-top:1rem;margin-bottom:1rem;border-top-color:rgba(0, 0, 0, .1);border-width:1px !important;border-style:solid !important;border-color:#17a2b8 !important;" >
        </td>
    </tr>
    <tr style="font-family:'Lucida Console', Monaco, monospace;box-sizing:border-box;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin: 1rem !important;" >
        <td style="font-family:'Lucida Console', Monaco, monospace;box-sizing:border-box;position:relative;width:100%;padding-right:15px;padding-left:15px;-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;max-width:100%;" >
            <h5 th:text="'Reset Your Password: ' + ${username}" style="font-family:'Lucida Console', Monaco, monospace;box-sizing:border-box;margin-top:0;margin-bottom:.5rem;font-weight:500;line-height:1.2;font-size:1.25rem;color:#f8f9fa !important;" ></h5>
        </td>
    </tr>
    <tr style="font-family:'Lucida Console', Monaco, monospace;box-sizing:border-box;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin: 1rem !important;" >
        <td style="font-family:'Lucida Console', Monaco, monospace;box-sizing:border-box;position:relative;width:100%;padding-right:15px;padding-left:15px;-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;max-width:100%;" >
            <p style="font-family:'Lucida Console', Monaco, monospace;box-sizing:border-box;color:lightgray;margin-top:0;margin-bottom:1rem;" >Tap the button below to reset your customer account password. If you didn't
                request a new password, you can safely delete this email.
            </p>
        </td>
    </tr>
    <tr style="font-family:'Lucida Console', Monaco, monospace;box-sizing:border-box;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin: 3rem !important;" >
        <td style="font-family:'Lucida Console', Monaco, monospace;box-sizing:border-box;position:relative;width:100%;padding-right:15px;padding-left:15px;-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;max-width:100%;text-align:center !important;" >
            <a th:href='${link}' href="#" role="button" aria-pressed="true" style="font-family:'Lucida Console', Monaco, monospace;box-sizing:border-box;text-decoration:none;display:inline-block;font-weight:400;text-align:center;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;border-width:1px;border-style:solid;transition:color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;color:#fff;background-color:#17a2b8;border-color:#17a2b8;padding: .5rem 1rem;font-size:1.25rem;line-height:1.5;border-radius:.3rem;" >Reset Your
                Password</a>
        </td>
    </tr>
    <tr style="font-family:'Lucida Console', Monaco, monospace;box-sizing:border-box;background-color:#47646f;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:0;margin-left:0;margin-top:1rem !important;padding-top:1rem !important;padding-bottom:1rem !important;text-align:center !important;" >
        <td style="font-family:'Lucida Console', Monaco, monospace;box-sizing:border-box;position:relative;width:100%;-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;max-width:100%;text-align:center !important;padding-right:0;padding-left:0;" >
            © 2020 Copyright:
            <a class="text-info" href="http://redhomeserver.go.ro:8181/tomapp" style="font-family:'Lucida Console', Monaco, monospace;box-sizing:border-box;text-decoration:none;background-color:transparent;color:#17a2b8 !important;" > TOM </a>
        </td>
    </tr>
</table>
</body>
</html>