<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Registration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="css/form_style.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="/images/favicon.png" type="image/icon type">
</head>
<body>
<div id="login">
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12 mt-3 mb-3">
                    <form id="signUp-form" class="form" action="/signUp" method="post">
                        <div class="w-100 text-center">
                            <img src="images/favicon.png" class="w-25 cent pb-2">
                        </div>
                        <h3 class="text-center text-info pb-3">Sign Up</h3>
                        <div class="form-group">
                            <label for="name" class="text-info">Name: (First name Last name)</label><br>
                            <input type="text" name="name" id="name" class="form-control"
                                   pattern="^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$" required>
                        </div>
                        <div class="form-group">
                            <label for="address" class="text-info">Address:</label><br>
                            <input type="text" name="address" id="address" class="form-control" required>
                        </div>

                        <div class="form-group">
                            <label for="email" class="text-info">Email:</label><br>
                            <input type="text" name="email" id="email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
                        </div>

                        <div class="form-group">
                            <label for="tel" class="text-info">Phone:</label><br>
                            <input type="tel" name="phone" id="tel" class="form-control"
                                   pattern="[0-9]{3}[0-9]{3}[0-9]{4}" required>
                        </div>

                        <div class="form-group">
                            <label for="salary" class="text-info">Salary:</label><br>
                            <input type="text" name="salary" id="salary" class="form-control" pattern="[1-9]{1}[0-9]{1,}" required>
                        </div>

                        <div class="form-group">
                            <label for="empl_date" class="text-info">Employment date:</label>
                            <input type="date" class="form-control" name="empl_date" id="empl_date" required>
                        </div>

                        <div class="form-group">
                            <label for="department" class="text-info">Choose department:</label><br>
                            <select name="departmentId" id="department" class="custom-select" required>
                                <option value="" th:text="'--- Select a department ---'"></option>
                                <option th:each="i : ${departments}" th:value="${i.getId()}"
                                        th:text="${i.getName()}"></option>
                            </select>
                        </div>


                        <div class="form-group">
                            <label for="tl" class="text-info">Choose department:</label><br>
                            <select name="tlId" id="tl" class="custom-select" required>
                                <option value=""> --- Select a department first  ---</option>
                            </select>
                        </div>


                        <div th:if='${error != ""}' th:text="${error}" class="alert alert-danger mt-2 d-none"
                             role="alert"></div>
                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/signUp.js"></script>
<script src="/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>
</body>
</html>
